@using Microsoft.AspNetCore.Identity
@using TechCareerMVCFinal.Data
@model List<Kiyafet>

<div class="container">
    @if (User.IsInRole(UserRoles.Role_Kullanici)){
        <div class="row">
            @foreach (var kiyafet in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@kiyafet.ResimUrl" alt="Kıyafet Resmi" height="300px">
                        <div class="card-body">
                            <h5 class="card-title">@kiyafet.KiyafetAdi</h5>
                            <p class="card-text"><small class="text_muted">@kiyafet.KiyafetTuru.Ad</small></p>
                            <p class="card-text">@kiyafet.Cinsiyet</p>
                            <p class="card-text">@kiyafet.Rengi</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @* burda modelden kaynakli bi hata aliyor olabilirim *@
                                    @* <a asp-controller="SiparisVerme" asp-action="SiparisVerEkleGuncelle" asp-route-kiyafet="@kiyafet" asp-route-id="@kiyafet.Id" class="btn btn-sm btn-primary">Sipariş Ver</a> *@
                                    <a href="@Url.Action("SepeteEkle", "SiparisVerme", new { kiyafetId = kiyafet.Id})" class="btn btn-primary">Sepete Ekle</a>
                                </div>
                                <small class="text-muted">@kiyafet.Fiyati TL</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
          <div class="row pt-3 pb-4">
        <div>
            <h1>Kıyafetler</h1>
        </div>
    </div>
    @if (TempData["basarili"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["basarili"]
        </div>
    }
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Kıyafet Adı</th>
                <th>Fiyat</th>
                <th>Renk</th>
                <th>Cinsiyet</th>
                <th>Kıyafet Türü</th>
             
                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var kiyafet in Model)
            {
                <tr>
                    <td align="center" valign="middle">
                        <img src="@kiyafet.ResimUrl" style="border-radius:7px border:1px solid #bbb9b9; max-width:150px; max: 280px;"/>
                    </td>
                    <td align="center" valign="middle">@kiyafet.Id</td>
                    <td align="center" valign="middle">@kiyafet.KiyafetAdi</td>
                    <td align="center" valign="middle">@kiyafet.Fiyati</td>
                    <td align="center" valign="middle">@kiyafet.Rengi</td>
                    <td align="center" valign="middle">@kiyafet.Cinsiyet</td>
                    <td align="center" valign="middle">@kiyafet.KiyafetTuru.Ad</td>
                    
                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td align="center" valign="middle">
                        <a asp-controller="Kiyafet" asp-action="KiyafetEkleGuncelle" asp-route-id="@kiyafet.Id" type="button" class="btn btn-success" style="width:100px">Güncelle</a>
                    </td>
                        <td align="center" valign="middle">
                            <button type="button" onclick="sil(@kiyafet.Id)" class="btn btn-danger" style="width:100px">Sil</button>
                            <form id="silForm_@kiyafet.Id" asp-controller="Kiyafet" asp-action="KiyafetSil" method="post">
                                <input type="hidden" name="id" value="@kiyafet.Id" />
                            </form>
                        </td>
                    }          

                </tr>
            }
        </tbody>
    </table>
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
          <div class="row pt-3 pb-2">  
        <div>
            <a asp-controller="Kiyafet" asp-action="KiyafetEkleGuncelle" class="btn btn-lg btn-primary" type="button">Yeni Kıyafet Oluştur</a>
        </div>
    </div> 
    }
    }
</div>
    
  
<script>
    function sil(id) {
        var onay = confirm("Bu kıyafeti silmek istediğinizden emin misiniz?");
        if (onay) {
            document.getElementById("silForm_" + id).submit();
        }
    }
</script>
