@model List<SiparisVerme>

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Siparişler</h1>
        </div>
    </div>
    @if (TempData["basarili"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["basarili"]
        </div>
    }
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kullanıcı Id</th>
                <th>Kıyafet Id</th>
                <th>Kıyafet Adı</th>
                <th>Fiyatı</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var siparisVerme in Model)
            {
                <tr>
                    <td>@siparisVerme.Id</td>
                    <td>@siparisVerme.kullaniciId</td>
                    <td>@siparisVerme.KiyafetId</td>
                    <td>@siparisVerme.Kiyafet.KiyafetAdi</td>
                    <td>@siparisVerme.Kiyafet.Fiyati</td>
                    <td>
                        <a asp-controller="SiparisVerme" asp-action="SiparisVermeEkleGuncelle" asp-route-id="@siparisVerme.Id" type="button" class="btn btn-success">Sipariş Güncelle</a>
                    </td>
                    <td>
                        <button type="button" onclick="sil(@siparisVerme.Id)" class="btn btn-danger" style="width:100px">Sil</button>
                        <form id="silForm_@siparisVerme.Id" asp-controller="SiparisVerme" asp-action="SiparisVermeSil" method="post">
                            <input type="hidden" name="id" value="@siparisVerme.Id" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">  
        <div>
            <a asp-controller="SiparisVerme" asp-action="SiparisVermeEkleGuncelle" class="btn btn-lg btn-primary" type="button">Yeni Sipariş Oluştur</a>
        </div>
    </div>
</div>
<script>
    function sil(id) {
        var onay = confirm("Bu siparişi silmek istediğinizden emin misiniz?");
        if (onay) {
            document.getElementById("silForm_" + id).submit();
        }
    }
</script>
